# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Temporary files
*.tmp
*.log
*.wav

# Virtual environment
venv/
.venv/
.env/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/